:root{
    --primary-dark: #0f3057;
    --primary-light: #00587a;
    --primary-white: #f6f5f5;
}

body{
    background-color: var(--primary-dark);
    background-image: url(../svg/footer-wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#form-content{
    margin: 10%;
    border-radius: 5px;
}

#form-area{
    background-color: var(--primary-white);
    border-radius: 0px 5px 5px 0px;
}

#form-info{
    border-radius: 5px 0px 0px 5px;
}

#footer{
    background-color: var(--primary-light);
}

@media only screen and (max-width: 735px) {
    #form-content{
        margin: 0;
    }
}